.MuiTableBody-root {

  .MuiTableRow-root {

    .MuiTableCell-root {
      border-bottom: none;
      margin: 0;
    }

    .MuiTableCell-root.button-group {
      width: 120px;
      height: 78px;
      padding: 16px 10px;

      .button-cell {
        display: none;
      }

      .button-cell.shown {
        width: 100px;
        float: right;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 12px;

        .btn {
          border-radius: 50%;
          padding: 7px 0;
        }
      }
    }
  }

  .MuiTableRow-root:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}